{% extends 'admin/base.html' %}
{% load staticfiles %}

{% block title %}Proveedor{% endblock %}

{% block content %}
<div class="container pt-4">
    <h1 class="display">Agregar nuevo proveedor</h1>
    <p class="lead">Registro de proveedores de ServiExpress</p>
    <form method="POST">
                        {% csrf_token %}
                        {{form}}
                        <div class="form-group nav justify-content-end">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                            <a class="btn btn-secondary mr-1" onclick="window.history.go(-1); return false;">Volver</a>
                        </div>
                    </form>
                </div>
                {% endblock %}
                