{% extends 'base.html' %} 
{% load staticfiles %}

{% block title %}
Registro
{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div id="registro" class="container pt-4">
    <h1 class="display-4">Iniciar Sesión</h1>
    <p class="lead">Inicio de sesión de usuarios de ServiExpress</p>
    <form method="POST" id="formulario">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Nombre de Usuario</label><br>
            <input name="username" class="form-control" type="text"/>
            <div class="bg-danger mt-1">{{ form.errors.username }}</div>
        </div>

        <div class="form-group">
            <label for="password">Password</label><br>
            <input name="password" class="form-control" type="password"/>
            <div class="bg-danger mt-1">{{ form.errors.password }}</div>
        </div>

        {% if form.non_field_errors %}
        <div class="form-group">
            <div class="bg-danger mt-1 p-2">Login incorrecto!</div>
        </div>  
        {% endif %}
        
        {{form.non_field_errors}}

        <p class="text-right" ><a class="btn btn-link" href="{% url 'password_reset' %}">Olvidé mi contraseña</a></p>
        <p class="text-right" ><a class="btn btn-link" href="{% url 'revisar_pedido' %}">¿Eres proveedor? Ingresa Aquí para visualizar un pedido</a></p>
        <div class="form-group d-flex justify-content-end">
            <input class="btn btn-primary" type="submit" value="Entrar"/>
        </div>
        <ul class="nav navbar justify-content-end pr-0">
            <li><a class="btn btn-secondary" href="{% url 'home' %}">Volver al Home</a></li>
            <li><a class="btn btn-secondary ml-2" href="{% url 'registrar_usuario' %}">Registrarse</a></li>
            

        </ul>
        
    </form>
</div>
{% endblock %}
