<!doctype html>
<html>

<head>
	<title>Taller Mecanico ServiExpress</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script
		type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!meta charset utf="8">
		<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="fontawesome-5.5/css/all.min.css" />
		<!--bootstrap-->
		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery-2.1.4.min.js"></script>

</head>

<body>

	<div class="header_nav" id="home">
		<nav class="navbar navbar-default chn-gd">

			<!-- se marcan y alternan para mejor visualizacion -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div>
			<!-- se recopilan los formularios de navegacion (inicio, servicio, acerca de , contacto , nuevo "agregar inicio y registro ") -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="col-md-2">
						<a href="index.html" class="blue">
							<span class="" aria-hidden="true"></span>
							Inicio
						</a>
					</li>
					<!---->
					<li class="col-md-2">
						<a href="services.html" class="pink">
							<span class="" aria-hidden="true"></span>
							Servicio
						</a>
					</li>
					<!---->
					<li class="col-md-2">
						<a href="about.html" class="orang">
							<span class="" aria-hidden="true"></span>
							Acerca de
						</a>
					</li>
					<!---->
					<li class="col-md-2">
						<a href="news.html" class="gray">
							<span class="" aria-hidden="true"></span>
							Nuevo
						</a>
					</li>
					<!---->
					<li class="col-md-2">
						<a href="contact.html" class="sky">
							<span class="" aria-hidden="true"></span>
							Contacto
						</a>
					</li>
					<!-- argegar iniciar -->
					<li class="col-md-2">
						<a href="" class="green">
							<span class="" aria-hidden="true"></span>
							Iniciar sesion
						</a>
					</li>



					<div class="clearfix">
						<!--script-->
						<script type="text/javascript">
							jQuery(document).ready(function ($) {
								$(".scroll").click(function (event) {
									event.preventDefault();
									$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
								});
							});
						</script>
						<!--script-->
				</ul>
			</div>
			<div class="clearfix"></div>
		</nav>
	</div>
	<div class="container">
		<div class="logo">
			<h1><a href="index.html">Taller Mecanico ServiExpress</a></h1>
		</div>
		<div class="ad-ph">
			<p>CONTACTO : <span></span>123456789</p>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- ORGANIZADOR DE BANNER -->
	<div class="banner">
		<div class="container">

			<div class="banner-info">
				<h2>TALLER SERVIEXPRESS</h2>
				<P>EL MEJOR DE CHILE </p>
			</div>
		</div>
	</div>
	<!-- imagenes de autos , responsive -->
	<div class="our">
		<div class="container">
			<div class="our-top">
				<li><img src="images/b1.jpg" class="img-responsive" alt=""></li>
				<li><img src="images/b2.png" class="img-responsive" alt=""></li>
				<li><img src="images/b3.png" class="img-responsive" alt=""></li>
				<li><img src="images/b4.png" class="img-responsive" alt=""></li>
				<li><img src="images/b5.png" class="img-responsive" alt=""></li>
				<li><img src="images/b6.jpg" class="img-responsive" alt=""></li>
				<li><img src="images/b7.jpg" class="img-responsive" alt=""></li>
				<li><img src="images/b8.jpg" class="img-responsive" alt=""></li>
				<li><img src="images/b9.png" class="img-responsive" alt=""></li>
				<li><img src="images/b10.png" class="img-responsive" alt=""></li>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="high">
		<div class="container">
			<div class="col-md-6 high-left">
				<img src="images/img7.jpg" class="img-responsive" alt="">
			</div>
			<div class="col-md-6 high-right">
				<h3>ALTA CALIDAD</h3>
				<h5>EN SERVICIOS PROFESIONALES EN MECANICA</h3>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>


	<!-- sobre nosotros  -->
	<div class="over">
		<div class="container">
			<div class="col-md-8 over-left">
				<h3>SOBRE NUESTRO TRABAJO</h3>
				<P>COLOCAR DESCRIPCION SOBRE NOSOTROS </p>
			</div>
			<div class="col-md-4 over-right">
				<div class="testimonials">
					<h3>TESTIMONIOS</h3>
					<!-- AQUE QUEDE FlexSlider -->
					<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="tes">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
										</p>
										<h5>Nicolas</h5>
									</div>
								</li>
								<li>
									<div class="tes">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
											nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpatt wisi
											enim ad minim veniam, quis</p>
										<h5>Erika</h5>
									</div>
								</li>
								<li>
									<div class="tes">
										<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
											nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpatt wisi
											enim ad minim veniam, quis </p>
										<h5>Camilo</h5>
									</div>
								</li>
								<li>
									<div class="tes">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
											nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpatt wisi
											enim ad minim veniam, quis</p>
										<h5>Mariano</h5>
									</div>
								</li>
							</ul>
						</div>
					</section>


					<!-- FlexSlider revisar -->
					<script defer="" src="js/jquery.flexslider.js"></script>
					<script type="text/javascript">
						$(function () {
							SyntaxHighlighter.all();
						});
						$(window).load(function () {
							$('.flexslider').flexslider({
								animation: "slide",
								start: function (slider) {
									$('body').removeClass('loading');
								}
							});
						});
					</script>
					<!-- FlexSlider -->

				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- over -->
	<div class="team">
		<div class="container">
			<div class="col-md-3 team-left">
				<img src="images/img5.jpg" class="img-responsive" alt="">
			</div>
			<div class="col-md-3 team-left">
				<img src="images/img3.jpg" class="img-responsive" alt="">
			</div>
			<div class="col-md-3 team-left">
				<img src="images/img4.jpg" class="img-responsive" alt="">
			</div>
			<div class="col-md-3 team-left">
				<img src="images/img2.jpg" class="img-responsive" alt="">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- expert -->
	<div class="expert">
		<div class="container">
			<div class="col-md-4 expert-left">
				<h3>Servicio experto por los mejores técnicos</h3>
				<P>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
					laoreet dolore magna aliquam erat volutpatt wisi enim ad minim veniam, quis nostrud exerci tation
					ullamco rper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
					dolor in hendrerit in vulputate velit esse molestie consequat.</P>
			</div>
			<div class="col-md-4 expert-left">
				<img src="images/img6.jpg" class="img-responsive" alt="">
			</div>
			<div class="col-md-4 expert-left">
				<h3>El más alto nivel de reparación de coches</h3>
				<P>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
					laoreet dolore magna aliquam erat volutpatt wisi enim ad minim veniam, quis nostrud exerci tation
					ullamco rper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
					dolor in hendrerit in vulputate velit esse molestie consequat.</P>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	</div><!-- row ending -->
	<a href="https://wa.me/+569000000?text=Hola,%20tiene%20alguna%20hora%20disponible?" class="float" target="_blank">
		<i class="fa-2x fab fa-whatsapp" width="20%" height="20%"></i>
	</a>
	</div>

	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-3 footer-left">
				<h3>TELEFONO</h3>
				<p>+569123456678</p>
			</div>
			<div class="col-md-3 footer-left">
				<h3>E-Mail CL</h3>
				<p>Email : <a href=""></a></p>
			</div>
			<div class="col-md-3 footer-left">
				<h3>REDES SOCIALES</h3>
				<ul>
					<li><a href="#"><i class="facebok"> </i></a></li>
					<li><a href="#"><i class="twiter"> </i></a></li>
					<li><a href="#"><i class="goog"> </i></a></li>
					<li><a href="#"><i class="inst"> </i></a></li>
					<div class="clearfix"></div>
				</ul>
			</div>
			<div class="col-md-3 footer-left">
				<h3>DIRECCION</h3>
				<p>696969 ESTACION CENTRAL .</p>
			</div>
			<div class="clearfix"></div>
			<div class="foot-bottom">
				<p>Copyrights © 2021 TALLER SERVIEXPRESS <a href=""></a></p>
			</div>
		</div>
	</div>
</body>

</html>