<!doctype html>
<html>
	<head>
		<title>Taller Mecanico ServiExpress</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!meta charset utf="8">
		<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
		<!--bootstrap-->
			<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
			<link href="css/style.css" rel="stylesheet" type="text/css"/>
			<script src="js/jquery-2.1.4.min.js"></script>
			<script src="js/bootstrap.min.js"></script>
</head>
<body>
		
			<div class="header_nav" id="home">
				<nav class="navbar navbar-default chn-gd">
					
					
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					
					</div>
					
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="col-md-2">
							<a href="index.html" class="blue">
								<span class="" aria-hidden="true"></span>
								Inicio
							</a>
						</li>
						<!---->
						<li class="col-md-2">
							<a href="services.html" class="pink">
								<span class="" aria-hidden="true"></span>
								Servicio
							</a>
						</li>
						<!---->
						<li class="col-md-2">
							<a href="about.html" class="orang">
								<span class="" aria-hidden="true"></span>
								Acerca de
							</a>
						</li>
						<!---->
						<li class="col-md-2">
							<a href="news.html" class="gray">
								<span class="" aria-hidden="true"></span>
								Nuevo
							</a>
						</li>
						<!---->
						<li class="col-md-2">
							<a href="contact.html" class="sky">
								<span class="" aria-hidden="true"></span>
								Contacto
							</a>
						</li>
						<!-- Argegar iniciar -->
						<li class="col-md-2">
							<a href="" class="green">
								<span class="" aria-hidden="true"></span>
								Iniciar sesion
							</a>
						</li>
	
	
	
						<div class="clearfix">
						<!--script-->
						<script type="text/javascript">
						jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
						});
						});
						</script>
						<!--script completo -->
					</ul>
					</div>
					<div class="clearfix"></div>
					
				</nav>
			</div>
			<div class="container">
				<div class="logo">
						<h1><a href="index.html">Taller Mecanico ServiExpress</a></h1>
				</div>
				<div class="ad-ph">
					<p>Contacto: <span>+569</span>56565656</p>
				</div>
					<div class="clearfix"></div>
			</div>
		<!-- banner -->
		<div class="banner-1">
			<div class="container">
				<h2>Servicio</h2>
			</div>	
		</div>	
		<!-- /banner -->
		<!-- services -->
			<div class="services">
				<div class="container">
					<div class="services-bottom">
						<div class="col-md-8 ser-lft">
						<h3>Servicios de reparación</h3>
							<div class="ser-tp">
								<div class="ser-rt">
									<img src="images/ser1.jpg" class="img-responsive" alt="">
								</div>
								<div class="ser-lt">
									<h5>Cambnio de neumaticos</h5>
									<p>Lorem Ipsum is not simply random text. It has roots Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from in a piece of It has roots in a piece of classical Latin literature It has roots in a piece of classical Latin literature classical Latin literature making it over. Richard</p>
								</div>
									<div class="clearfix"></div>
							</div>
							<div class="ser-tp">
								<div class="ser-rt">
									<img src="images/ser2.jpg" class="img-responsive" alt="">
								</div>
								<div class="ser-lt">
									<h5>Cambio de Pastillas</h5>
									<p>Lorem Ipsum is not simply random text. It has roots Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from in a piece of It has roots in a piece of classical Latin literature It has roots in a piece of classical Latin literature classical Latin literature making it over. Richard</p>
								</div>
									<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-md-4 ser-rgt">
							<h3>Suspension</h3>
							<h5>escribir algo </h5>
							<p>Lorem Ipsum is not simply random text. It has roots Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from in a piece  </p>
							<h5>escribir algo</h5>
							<p>Lorem Ipsum is not simply random text. It has roots Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from in a piece </p>
							<h5>escribir algo</h5>
							<p>Lorem Ipsum is not simply random text. It has roots Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from in a piece</p>
							<div class="clearfix"></div>
					</div>
					<div class="services-top">
						<div class="col-md-6 se-lt">
							<h3>Opciones de garantía de servicios</h3>
							<h5>Escribir algo</h5>
							<p>loren escribir algo</p>
							<ul>
								<li><a href="#"><span></span>lo mejor de chile </a></li>
								<li><a href="#"><span></span>lo mejor de chile </a></li>
								<li><a href="#"><span></span>lo mejor de chile</a></li>
								<li><a href="#"><span></span>lo mejor de chile</a></li>
							</ul>
						</div>
						<div class="col-md-6 se-lt">
							<h3>Escribir algo</h3>
							<h5>escribir Algo . </h5>
							<p>lorem escribir algo</p>
							<ul>
								<li><a href="#"><span></span>lo mejor de chile</a></li>
								<li><a href="#"><span></span>lo mejor de chile</a></li>
								<li><a href="#"><span></span>lo mejor de chile</a></li>
								<li><a href="#"><span></span>lo mejor de chile</a></li>
							</ul>
							<p>Lorem exribir algo </p>
						</div>
							<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- servicios -->
		<!-- footer -->
        <div class="footer">
            <div class="container">
                <div class="col-md-3 footer-left">
                    <h3>TELEFONO</h3>
                    <p>+569123456678</p>
                </div>
                <div class="col-md-3 footer-left">
                    <h3>E-Mail CL</h3>
                    <p>Email : <a href=""></a></p>
                </div>
                <div class="col-md-3 footer-left">
                    <h3>REDES SOCIALES</h3>
                    <ul>
                        <li><a href="#"><i class="facebok"> </i></a></li>
                        <li><a href="#"><i class="twiter"> </i></a></li>
                        <li><a href="#"><i class="goog"> </i></a></li>
                        <li><a href="#"><i class="inst"> </i></a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="col-md-3 footer-left">
                    <h3>DIRECCION</h3>
                    <p>696969 ESTACION CENTRAL .</p>
                </div>
                <div class="clearfix"></div>
                <div class="foot-bottom">
                    <p>Copyrights © 2021 TALLER SERVIEXPRESS <a href=""></a></p>
                </div>
            </div>
        </div>
    </body>
</html>