{% extends 'admin/base.html' %}
{% load static %}

{% block title %}Reservas{% endblock %}
{% block extrastatic %}<link rel="stylesheet" href="{% static 'reserva/css/listar_reservas.css' %}"/>{% endblock %}
{% block content %}
{% if user.rol_id == 1 %}
<h1 class="display">Listado de Reservas</h1>
<p class="lead">Registro de Reservas de ServiExpress</p>
<a class="btn btn-primary mb-3" href="{% url 'agregar_reserva' %}">Agregar Reserva</a>
    {% if reservas %}
        <div class="object_container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Fecha Reserva</th>
                        <th scope="col">Hora Reserva</th>
                        <th scope="col">Usuario Reserva</th>
                        <th scope="col">Detalle Reserva</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                    <tr>
                        <th scope="row">{{reserva.fecha_reserva}}</th>
                        <td>{{ reserva.hora_reserva }}</td>
                        <td>{{ reserva.id_usuario }}</td>
                        <td>{{ reserva.detalle_reserva }}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{% url 'cambiar_reserva' reserva.id %}">Cambiar Hora</a>
                            <a type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal{{reserva.id}}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Modal -->
            {% for reserva in reservas %}
            <div class="modal fade" id="exampleModal{{reserva.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{reserva.id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel{{reserva.id}}">Anular Reserva</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">Esta seguro que desea anular la reserva #{{reserva.id}} {{ reserva.username }}</div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cerrar</a>
                            <a class="btn btn-danger" href="{% url 'anular_reserva' reserva.id %}">Anular Reserva</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>No hay reservas de hora vigentes</h3>
    {% endif %}
        {% else %}
        <h3>Reserva Agregada exitosamente</h3>
    {%endif%}

{% endblock %}