{% extends 'Usuario/base/base.html' %}

{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center">
    <div class="col-6">
      <h1 class="display-4">Nueva contraseña</h1>
      {% if validlink %}
        <form method="post">
          {% csrf_token %}
          {{ form.new_password1.errors }} 
          <label for="id_new_password1">Nueva contraseña: </label>
          <div class="input-django mb-2">
            {{ form.new_password1 }}
          </div>

          {{ form.new_password2.errors }}
          <label for="id_new_password2">Confirme contraseña: </label>
          <div class="input-django mb-2">
            {{ form.new_password2 }}
          </div>
          <input class="btn btn-primary" type="submit" value="Cambiar contraseña">
        </form>
      {% else %}
        <p class="lead">Enlace invalido: este enlace ya ha sido utilizado.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}