{% extends 'Usuario/base/base.html' %}

{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center">
            <div class="col-6">
            <h1 class="display-4">Su contraseña se reestablecio correctamente.</h1>
            <ul class="nav navbar justify-content-end">
                <li><a class="btn btn-primary" href="{% url 'login' %}">Iniciar sesión</a></li>
            </ul>
{% endblock %}