{% extends 'Usuario/base/base.html' %}

{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center">
    <div class="col-6">
      <h1 class="display-4">Recuperar contraseña</h1>
      <p class="lead">Ingrese su correo electrónico para recuperar su contraseña: </p>
      <form method="post">
        {% csrf_token %}
        <label for="id_email">Correo: </label>
        <div class="input-django mb-2">
          {{ form.email }}
        </div>
        <input class="btn btn-primary" type="submit" value="Enviar">
      </form>
    </div>
  </div>
</div>
{% endblock %}